# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Android build artifacts (KEEP android/)
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/

# iOS build artifacts (KEEP ios/)
ios/build/
ios/Pods/
ios/DerivedData/

# Native secrets / keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Kotlin / Gradle
.kotlin/
*.orig.*

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Yarn / NPM
yarn.lock
package-lock.json
